#wrapper {
    width:75%;
    margin:auto;
    background-color : green;
    overflow: hidden;
}

.section {
    background-color : red;
    float : left;
    width : 48%;
    height: 200px;
    margin : 1%;
    overflow: hidden;
}

.graph {
    background-color : blue;
    width : 60%;
    height: 98%;
    margin : 1%;
}

.explanation {
    background-color : orange;
    width : 36%;
    height: 98%;
    margin : 1%;
}

.section:nth-child(odd) .graph, .section:nth-child(odd) .explanation {
    float : left;
}

.section:nth-child(even) .graph, .section:nth-child(even) .explanation {
    float : right;
}